.card{
  background: linear-gradient(
      rgba(128, 192, 76, 0.349),
      rgba(255, 255, 255, 0.5)
    ),
     url("https://www.desktopbackground.org/download/o/2011/01/25/147375_attractive-bright-wallpaper-layer-image-blue-hd-picture-jpg_1920x1200_h.jpg");
  background-size: cover;
background-repeat: no-repeat;
height:100vh;
width:100%;
position:relative;
display: grid;
   place-items: center;
}
.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   width:400px;
   height: 500px;
   background-color:#fff;
   display: grid;
   place-items: center;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

   
}

.loginTitle {
  font-size: 50px;
}

.loginForm {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.loginForm > label {
  margin: 20px 0;
}

.loginInput {
  padding: 15px;
  background-color: rgb(218, 213, 213);
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}
.loginButton:disabled{
  cursor: not-allowed;
  background-color: coral;
}

.loginRegisterButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: teal;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
}
